{% extends 'base.html' %}

{% block content %}

    <h3 class="txt-color pt-3 pb-3">Продукты</h3>
    {% if key %}
        <h3 class="txt-color pt-3 pb-3">{{ category.get_category_display }}</h3>
    {% endif %}

    {% if products %}
        <div class="d-flex mb-3">
            <div class="d-flex justify-content-around container flex-wrap">
                {% for product in products %}
                    <div class="d-flex mt-4" style="width: 47%; height: 230px; font-size: 14px">
                        {% if product.image %}
                            <div class="card w-50">
                                <img class="rounded" src='{{ product.image.url }}' style="height: 230px;">
                            </div>
                        {% else %}
                            <div class="card w-50">
                                <img class="rounded" src='http://localhost:8000/uploads/empty.png'
                                     style="height: 230px;">
                            </div>
                        {% endif %}
                        <div class="card w-50 bg-light">
                            <div class="rounded aqua">
                                <h5 class="card-title mt-1 ml-2 fw-bold"
                                    style="font-size: 18px;">{{ product.title }}</h5>
                            </div>
                            <p style="font-size: 16px;"
                               class="card-text ml-2 h-25">{{ product.get_category_display }}</p>
                            <div class="d-flex justify-content-around">
                                <div>
                                    <a href="{% url 'show_product' product.pk %}"
                                       class="btn aqua mt-3 mb-2">
                                        Подробнее
                                    </a>

                                </div>
                                <div>
                                    <a href="{% url 'delete_product' product.pk %}"
                                       class="btn reddish mt-3 mb-2">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}

    {% else %}
        <p class="mt-5 ml-3 fw-bold">Список продуктов пуст</p>
    {% endif %}

{% endblock %}