{% extends 'base.html' %}

{% block content %}

    <h3 class="txt-color pt-3 pb-3">Удаление отзыва {{ review.pk }}</h3>

    {% if review %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Автор</th>
                <th scope="col">Продукт</th>
                <th scope="col">Описание</th>
                <th scope="col">Оценка</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-3 text-break">
                    {{ review.author | linebreaks }}
                </td>
                <td class="col-3 text-break">
                    {{ review.product }}
                </td>
                <td class="col-6 text-break">
                    {{ review.description | linebreaks }}
                </td>
                <td class="col-3 text-break">
                    {{ review.rating }}
                </td>
            </tr>
            </tbody>
        </table>

        <h1 class="text-center" style="font-size: 21px;">Вы точно хотите удалить заметку?</h1>
        <form method="POST" action="{% url "confirm_delete_review" review.product.pk review.pk %}" class="text-center">
            {% csrf_token %}
            <input type="submit" value="Удалить" class="btn btn-danger mt-2 ml-3 mb-3">
            <a class="btn btn-primary mt-2 ml-3 mb-3" href="{% url "show_product" review.product.pk %}">Нет</a>
        </form>

    {% else %}
        <p class="mt-5 ml-3 fw-bold">Запись не найдена</p>
    {% endif %}
{% endblock %}

